# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore migration cache files (optional)
*.pyc
*.pyo

# Ignore virtual environments
venv/

# Ignore VS Code or PyCharm config folders (optional)
.vscode/
.idea/
